extends layout

block content
    .container
      form(method='post',action='/contact')#loanForm.form-horizontal
         .control-group
           label.control-label(for='fname') First Name
           .controls
             input#fname(type='text', placeholder='First Name', name='fname')
         .control-group
           label.control-label(for='lname') Last Name
           .controls
            input#lname(type='text', placeholder='Last Name', name='lname')
         .control-group
           label.control-label(for='email') Email
           .controls
            input#email(type='text', placeholder='Email', name='email')
         .control-group
           label.control-label(for='message') Message
           .controls
            textarea#message(placeholder='Message', name='message')
         .control-group
           .controls
              button#createLoan.btn(type='submit') Contact Us

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/html5shiv.js')
    