a {
color: #00B7FF;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#loanForm {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

